[Desktop Entry]
Type=Application
Name=Glance
Comment=A next-generation Linux system utility for monitoring, cleaning, and optimization
Exec=glance-linuxoptimizer
Icon=glance-linuxoptimizer
Categories=System;
Terminal=false
StartupNotify=true
StartupWMClass=glance-linuxoptimizer
Keywords=system;monitor;cleaner;optimizer;
X-Purism-FormFactor=Workstation;Mobile;
